#NestJS + DB
ALLOWED_ORIGIN=http://localhost:80
APPLICATION_PORT=4000

POSTGRES_USER='admin'
POSTGRES_PASSWORD='admin'
POSTGRES_PORT='5432'
POSTGRES_HOST='postgres'
POSTGRES_DB='startup_project_2_db'
POSTGRES_URL=postgresql://admin:admin@postgres:5432/startup_project_2_db

COOKIE_SECRET='supersecretcookie'
JWT_SECRET='mysecret'



#NextJS
NEXT_PUBLIC_API_BASE_URL='http://localhost:80/api'
NEXT_PUBLIC_PORT=3000